body {  
    text-align: center;  
}  

#wrapper{
  width: 1010px;
  margin: 0 auto;  
}

#track_1{
  width: 300px;
  background-color: #78FF94;
  float: left;
}

#track_2{
  width: 300px;  
  background-color: #78FF94;
  float: left;
}

#track_3{
  width: 100px;
  background-color: #78FF94;
  float: left;
}

#track_4{
  width: 200px;
  background-color: #78FF94;
  float: left;
}

#track_5{
  width: 200px;
  background-color: #78FF94;
  float: left;
}

.measure{
  height :400px;
  background-color: #DCDCDC;
}

.quarter{
  height: 50px;
  background-color: #FFD5EC;
}

.octer{
  height: 25px;
  background-color: #FFD5EC;
}

a {
  background-color: #9966FF;
}

span {
  background-color: #FF9900;
}

li {
  background-color: #8FBC8F;
}

p {
  display: inline-block;
  background-color: #FF0000;
}

